ansi==0.3.6
beautifulsoup4==4.12.2
blinker==1.7.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.7.0
cryptography==41.0.5
daemonize==2.5.0
deepmerge==1.1.0
dulwich==0.21.5
errbot @ git+https://github.com/errbotio/errbot.git@0080eff1324930207f021f55674d5240abae172d
Flask==2.3.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpickle==3.0.2
Markdown==3.4.4
MarkupSafe==2.1.3
pycparser==2.21
Pygments==2.16.1
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==23.2.0
redis==5.0.1
requests==2.31.0
soupsieve==2.5
urllib3==2.0.7
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==3.0.1
python-telegram-bot==13.7